<div class="row">
  <div class="col-md-12 text-left">
    <h4>Project List</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!--<ul class="list-group">
      <li class="list-group-item" *ngFor="let project of projectList;">
        {{project.name}} {{project.owner.name}}
      </li>
    </ul>-->

    <p-dataTable [value]="projectList">
      <p-column field="name" header="Name"></p-column>
      <p-column field="owner.name" header="Owner"></p-column>
    </p-dataTable>
  </div>
</div>